{% extends "cards/cards_page.html" %}
{% block create_card %}
    <h2>Create Card</h2>
    <form method="POST" action="{% url 'create_card' %}">
        {% csrf_token %}

        <label for="pan_card">PAN Card:</label>
        <input type="text" name="pan_card" required>

        <label for="expiry_date_card">Expiry Date:</label>
        <input type="text" name="expiry_date_card" required>

        <label for="cvv_card">CVV:</label>
        <input type="text" name="cvv_card" required>

        <label for="status_card">Status:</label>
        <input type="text" name="status_card" required>

        <button type="submit">Create</button>
    </form>
{% endblock %}